
fieldset{
  border: 1px black solid;
  padding: 1em;
  margin-top: 2em;
}
legend{
  margin-left: 1em;
  width: auto;
  h2{
    font-size: 1em;
  }
}


input.form-control {
  border-radius: 0;
  background: #efefef;
  border: solid 1px #fff;

  &::placeholder {
    color: #999;
    font-style:italic;
  }

  &:focus {
    border: solid 1px;
  }
}

.has-danger .form-control-feedback {
  font-style: italic;
}


.form-footer{
  margin-top: 2em;
  text-align: center;

  button[type="submit"]{
    background: #efefef;
    border: none;
    padding: 1em 2em;
    max-width: 50%;
    width: 100%;

    &:hover {
      background-color: #999999;
      color: #ffffff;
      cursor: pointer;
    }
  }
}
