/* Main CSS file
 * Import other stylesheets here for processing
 */

@import url('https://fonts.googleapis.com/css?family=Bubbler+One|Open+Sans');

$dark-blue: rgb(81, 117, 140);


@import "buttons.scss";
@import "header.scss";
@import "forms.scss";
@import "pages.scss";
@import "footer.scss";