/* Main CSS file
 * Import other stylesheets here for processing
 */
@import url("https://fonts.googleapis.com/css?family=Bubbler+One|Open+Sans");
.header {
  background: #B4C4CE;
  padding: 1em 2em; }

.logo {
  font-family: 'Bubbler One', sans-serif;
  font-size: 3em;
  color: white; }

fieldset {
  border: 1px black solid;
  padding: 1em;
  margin-top: 1em; }

legend {
  margin-left: 1em;
  width: auto; }
  legend h2 {
    font-size: 1em; }

body {
  font-family: 'Open Sans', sans-serif; }

.page-title {
  margin-top: 1em; }
