/* Main CSS file
 * Import other stylesheets here for processing
 */
@import url("https://fonts.googleapis.com/css?family=Bubbler+One|Open+Sans");
.header {
  background: #B4C4CE;
  padding: 1em 2em; }

.logo {
  font-family: 'Bubbler One', sans-serif;
  font-size: 3em;
  color: white; }

fieldset {
  border: 1px black solid;
  padding: 1em;
  margin-top: 2em; }

legend {
  margin-left: 1em;
  width: auto; }
  legend h2 {
    font-size: 1em; }

input.form-control {
  border-radius: 0;
  background: #efefef;
  border: solid 1px #fff; }
  input.form-control::placeholder {
    color: #999;
    font-style: italic; }
  input.form-control:focus {
    border: solid 1px; }

body {
  font-family: 'Open Sans', sans-serif; }

.page-title {
  margin-top: 2em; }
