/* Main CSS file
 * Import other stylesheets here for processing
 */
@import url("https://fonts.googleapis.com/css?family=Bubbler+One|Open+Sans");
html *,
html *:before,
html *:after {
  box-sizing: border-box;
  transition: 0.5s ease-in-out; }

html i, html em,
html b, html strong,
html span {
  transition: none; }

*:before,
*:after {
  z-index: -1; }

button[type="submit"] {
  display: block;
  max-width: 250px;
  margin: 1rem auto;
  text-transform: uppercase;
  border: solid 2px #51758c;
  position: relative;
  overflow: hidden;
  width: 250px;
  height: 80px;
  background-color: transparent;
  color: black; }
  button[type="submit"]:before, button[type="submit"]:after,
  button[type="submit"] span:before,
  button[type="submit"] span:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 0;
    background-color: rgba(81, 117, 140, 0.75);
    transition: 0.4s ease-in-out; }
  button[type="submit"]:after {
    top: auto;
    bottom: 0; }
  button[type="submit"]:hover {
    color: #ffffff;
    border: #ffffff; }
    button[type="submit"]:hover:before, button[type="submit"]:hover:after {
      height: 80px; }
  button[type="submit"]:active {
    background-color: #B4C4CE; }

.header {
  background: #51758c;
  padding: 1em 2em;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1; }
  .header .logo {
    font-family: 'Bubbler One', sans-serif;
    font-size: 3em;
    color: white; }

.header-spacer {
  height: 104px;
  display: block; }

@media only screen and (max-width: 767px) {
  .header {
    padding: .5em 2em; }
    .header .logo {
      font-size: 1.5em; }
  .header-spacer {
    height: 52px; } }

fieldset {
  border-top: 1px #ddd solid;
  padding: 1em;
  margin-top: 2em; }

legend {
  margin-left: 1em;
  width: auto; }
  legend h2 {
    font-size: 1em; }

.add-new button {
  padding: .5em 1em;
  background: #ffffff;
  border: solid 2px #51758c; }
  .add-new button:hover {
    background: #51758c;
    color: #ffffff;
    cursor: pointer; }

input.form-control {
  border-radius: 0;
  background: #efefef;
  border: solid 1px #fff; }
  input.form-control::placeholder {
    color: #999;
    font-style: italic; }
  input.form-control:focus {
    border: solid 1px; }

.has-danger .form-control-feedback {
  font-style: italic; }

.form-footer {
  margin-top: 2em;
  text-align: center; }

body {
  font-family: 'Open Sans', sans-serif; }

.page-title {
  margin-top: 1em; }

.content-body {
  margin: 25px auto; }

@media only screen and (max-width: 767px) {
  .page-title h1 {
    font-size: 2em; } }

.footer {
  background-color: #555555;
  margin-top: 2em;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0; }
  .footer .copyright {
    color: #ffffff;
    text-align: center;
    padding: 1em 2em; }

.footer-spacer {
  height: 56px;
  display: block; }
