body{
  font-family: 'Open Sans', sans-serif;
}

.page-title {
  margin-top: 1em;
}

.content-body {
  margin: 25px auto;
}

@media only screen and (max-width:767px){
  .page-title h1{
    font-size: 2em;
  }
}